{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="display-1 mt-3 text-center">Hello, World</h1>
        {% if user.is_authenticated %}
        <div class="row">
            <div class="col-lg-9">
                {% if msg %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ msg }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                <section class="mt-4">
                    <h4>Create a new room:</h4>
                    <form action="{% url 'chat:create_room' %}" method="post" class='text-start'>
                        {% csrf_token %}
                        {% for field in room_form %}
                        <div class="form-group">
                            <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                        {% endfor %}
                        <p class="text-center mt-2"><button class="btn btn-primary">Create Room</button></p>
                    </form>
                </section>
                <hr>
                <section class="mt-4">
                    <h4>Join a chat room:</h4>
                    <form action="{% url 'chat:chat_redirect' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="number" name="room_id" class="form-control" placeholder="Room's ID">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#passwordModal">Join</button>
                            <!-- Modal -->
                            <div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="passwordModalLabel">Enter room password</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p class='form-label text-start'>Leave blank if room does not have password</p>
                                            <input type="password" name="room_password" class='form-control'>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Join room</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <div class="col-lg-3 mb-3">
                <section class="mt-4">
                    <h4>Joined Rooms</h4>
                    <ul class="list-group">
                        {% for room in rooms_joined %}
                            <a href="{% url 'chat:chat_room' room.id %}" class='text-reset text-decoration-none'>
                                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    {{ room.name }} (#{{ room.id }})
                                    <span class="badge bg-primary rounded-pill">{{ room.participants.all.count }}</span>
                                </li>
                            </a>
                        {% empty %}
                            <li class="list-group-item">You have not joined any room yet</li>
                        {% endfor %}
                    </ul>
                </section>
                <section class="mt-4">
                    <h4>Moderated Rooms</h4>
                    <ul class="list-group">
                        {% for room in rooms_moderated %}
                            <a href="{% url 'chat:chat_room' room.id %}" class='text-reset text-decoration-none'>
                                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    {{ room.name }} (#{{ room.id }})
                                    {% if room.creator == request.user %}
                                        <form action="{% url 'chat:delete_room' room.id %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger btn-sm rounded-pill delete-btn">Delete</button>
                                        </form>
                                    {% endif %}
                                </li>
                            </a>
                        {% empty %}
                            <li class="list-group-item">You have not joined any room yet</li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
        </div>
        {% else %}
            <h4 class='mt-4'>Please <a href="{% url 'chat:login' %}">login</a> to join a chat room.</h4>
            <h5>Don't have an account? <a href="{% url 'chat:register' %}">Sign up.</a></h5>
        {% endif %}
    </div>
{% endblock %}