{% extends 'base.html' %}

{% block title %}Room {{ room_id }}{% endblock %}

{% block content %}
    <div id="chat-wrapper">
        <h3>Room {{ room_id }}</h3>
        <div id="chat-container">
            <div id="chat"></div>
        </div>
        <div id="chat-input" class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Write message here" aria-label="Write message here" aria-describedby="button-addon">
            <button class="btn btn-success" type="button" id="button-addon">Send</button>
        </div>
    </div>
{% endblock %}

{% block script %}

{% endblock %}