{% extends 'base.html' %}

{% block title %}Room {{ room.id }}{% endblock %}

{% block content %}
    <div class="row mt-4">
        <div class="col-lg-9">
            <h3>Room "{{ room.name }}"</h3>
            <div id="chat-container">
                <div id="chat"></div>
            </div>
            <div id="chat-input" class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Write message here" id="chat-message-input">
                <button class="btn btn-success" type="button" id="chat-message-submit">Send</button>
            </div>
        </div>
        <div class="col-lg-3 mb-3">
            <section>
                <h4>Room info</h4>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        ID: <span>{{ room.id }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Creator: <span>{{ room.creator.username }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Moderators: <span>{{ room.moderators.all.count }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Participants: <span>{{ room.participants.all.count }}</span>
                    </li>
                </ul>
            </section>
            <section class="mt-4">
                <h4>Participants</h4>
                <ul class="list-group">
                    {% for user in room.participants.all %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ user.username }}
                            <span class="badges">
                                {% if user == request.user %}
                                    <div class="badge bg-info rounded-pill">Me</div>
                                {% endif %}
                                {% if user == room.creator %}
                                    <span class="badge bg-success rounded-pill">Creator</span>                    
                                {% endif %}
                                {% if user in room.moderators.all %}
                                    <span class="badge bg-warning rounded-pill">Mod</span>                    
                                {% endif %}
                            </span>
                        </li>
                    {% empty %}
                        <li class="list-group-item">You have not joined any room yet</li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    var url = 'ws://' + window.location.host + '/ws/chat/' + '{{ room.id }}/';
    var chatSocket = new WebSocket(url);

    chatSocket.onmessage = (e) => {
        var data = JSON.parse(e.data);
        var message = data.message;
        var dateOptions = {hour: 'numeric', minute: 'numeric', hour12: true};
        var datetime = new Date(data['datetime']).toLocaleString('en', dateOptions);

        var isMe = data.user === '{{ request.user }}';
        var source = isMe ? 'me' : 'other';
        var name = isMe? 'Me' : data.user;

        var chat = document.querySelector('#chat');

        // Add new message to the chat box
        var newMessage = document.createElement('div');
        newMessage.className = "message " + source;
        newMessage.innerHTML = `<strong>${name}</strong> <span class="date">${datetime}</span><br>${message}`;
        chat.appendChild(newMessage);

        // Scroll to the bottom of the div
        chat.scrollTop = chat.scrollHeight;
    };

    chatSocket.onclose = (e) => {
        console.error('Chat socket closed unexpectedly');
    };

    var input = document.querySelector("#chat-message-input");
    var submit = document.querySelector("#chat-message-submit");

    submit.addEventListener('click', () => {
        var message = input.value;
        if (message) {
            // Send message in JSON format
            chatSocket.send(JSON.stringify({'message': message}));

            // Clear input
            input.value = "";

            // return focus
            input.focus();
        }
    })

    input.focus();
    input.addEventListener('keypress', (e) => {
        if (e.key === "Enter") {
            submit.click();
        }
    });
{% endblock %}