#chat-wrapper {
  margin: auto;
  width: 50%;
}

#chat-wrapper h3 {
  margin: 0.4em 0;
}

#chat-container {
  position: relative;
  height: 75vh;
}

#chat {
  top: 0px;
  bottom: 0px;
  position: absolute;
  width: 100%;
  overflow-y: scroll;
  background: lightsteelblue;
  padding-bottom: 10px;
}

#chat .message {
  background: #efefef;
  padding: 10px 20px;
  border-radius: 4px;
  width: auto;
  display: inline;
  float: left;
  margin: 10px 10px 0;
  min-width: 40%;
  max-width: 80%;
  clear: both;
}

#chat .message.me {
  display: inline;
  float: right;
  background: #dcede0;
  color: #56a668;
}

#chat .date {
  color: #aaa;
  font-style: italic;
  font-size: 12px;
}

.nav-log {
  margin: auto 2em auto 0;
}

.navbar-brand {
  margin: auto auto auto 2em;
}

#delete-btn {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}
