{% extends 'base.html' %}

{% block title %}Register{% endblock  %}

{% block content %}
    <div class="text-center">
        <h1 class="display-1 mt-3">Register</h1>
        <form action="{% url 'chat:register' %}" method="post" class='w-50 text-start m-auto'>
            {% csrf_token %}
            {% for field in user_form %}
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label" for="{{ field.id_for_label }}">{{ field.help_text }}</label>
                    <div class="col-sm-8">
                        {{ field }}
                    </div>
                    {{ field.errors }}
                </div>
            {% endfor %}
            <input type="hidden" name="next" value="{{ next }}">
            <p class='text-center'><input class="btn btn-primary" type="submit" value="Register"></p>
        </form>
        <p>
            Already have an account?
            <br>
            <small><a href="{% url 'chat:login' %}">Login.</a></small>
        </p>
    </div>
{% endblock %}